<div class="d-flex" style="height: -webkit-fill-available; overflow-y: hidden;">
    <div style="display: inline-flex;">
        <!-- <div class="sidebar" data-color="danger" data-background-color="white"></div> -->
        <app-sidebar></app-sidebar>

    </div>
    <div class="container-fluid" style=" overflow-y: auto; ">
        <div class="row" style=" position: -webkit-sticky; position: sticky; top:0px; z-index:2">
            <app-navbar></app-navbar>

        </div>

        <router-outlet></router-outlet>

    </div>
</div>