<div class="d-flex" style="height: -webkit-fill-available;">
    <mat-sidenav-container 
    style="width: -webkit-fill-available; ">
       
        <mat-sidenav 
        mode="{{modeSidebar}}" 
        #sidebar 
        opened="{{ visibleSidebar }}" 
        (closed)="cierraSidebar()">
            <!-- <div class="side-bar" > -->
                    <app-sidebar></app-sidebar>
            <!-- </div> -->

        </mat-sidenav>

        <mat-sidenav-content class="" style=" overflow-y: auto;">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- <a (click)="sidebar.toggle()" class="buttonToggle">
        <mat-icon style="" >list</mat-icon>
    </a> -->
</div>