<form [formGroup]="formNuevoProducto">
  <div class="row" style="margin-top: 0px; margin-bottom: 0px">
    <div class="col" style="text-align: center">
        <a 
        *ngIf="nuevo"
        (click)="inputImg.click()"
        style="cursor:pointer ">
          <img
          class="uploadImg"
          src="{{imgProducto}}" 
          alt=""
          style="width: 200px; height: auto"
          id="frame"
          >
        </a>
        <input type="file" 
        #inputImg 
        (change)="seleccionarImg($event)" 
        style="display: none"
        capture>

        <img mat-card-image 
        class="imgProducto"
        *ngIf="!nuevo" 
        [src]="formNuevoProducto.controls.img.value" 
        alt="imagen de producto seleccionado"
        >

          
    </div>
  </div>

  <mat-tab-group [(selectedIndex)]="tab">

    <mat-tab label="Detalles"> 
      <div class="modal-body">       
          <div class="row">            
              <mat-form-field  class="col" >
                <input matInput placeholder="Prenda" formControlName="prenda" required>
              </mat-form-field>
              <mat-form-field  class="col" *ngIf="!nuevo">
                <input matInput placeholder="Codigo" formControlName="codigo" readonly="true">
              </mat-form-field>
              
          </div>
          <div class="row">
            <mat-form-field class="col">
            <input matInput placeholder="Marca" formControlName="marca">
            </mat-form-field>
            <mat-form-field class="col">
            <input matInput placeholder="Color" formControlName="color">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col">
              <input matInput type="number" placeholder="Precio de costo" formControlName="pCosto" required>
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
            <mat-form-field class="col">
              <input matInput type="number" placeholder="Precio de venta" formControlName="pVenta" required>
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
    
        
      </div>
    </mat-tab>

    <mat-tab label="Disponibilidad">
      <div class="modal-body">
        <div formArrayName="disp">
          
          <!-- se itera sobre controls debido a que disp.value no permite editar campos -->
            <div 
            class="row" 
            *ngFor="let item of formNuevoProducto.controls.disp['controls']; let i = index"
            style="margin: 0px; display: flex; justify-content: center">

            <!-- <div class="col-sm-3"></div> -->

              <mat-form-field class="col-sm-3" [formGroupName]="i">
                <input matInput placeholder="Talle" formControlName="talle" required>
              </mat-form-field>

              <mat-form-field class="col-sm-3" [formGroupName]="i">
                <input matInput type="number" placeholder="Cantidad" formControlName="cant" required>
              </mat-form-field>
              <!-- <div class="col-sm-3"></div> -->
              
            </div>
        </div>
        
        <button 
        class="mdc-button" 
        style="margin-right: 10px"
        (click)="agregarDisponibilidad()"
        >Agregar</button>
      </div>
    </mat-tab>
    
  </mat-tab-group>

  
  <div style="display: flex; justify-content:center;">
    <button 
      class="mdc-button mdc-button--outlined" 
      [mat-dialog-close]="false" 
      style="margin-right: 10px"
      (click)="modalRef.close(true)">
      Cancelar
    </button>
    <button 
      *ngIf="nuevo"
      class="mdc-button mdc-button--raised"  
      cdkFocusInitial 
      (click)="tab==0? tab = 1: guardarPrenda()">
      {{tab == 0? 'Siguiente': 'Guardar'}}
    </button>
    <button
      *ngIf="!nuevo"
      class="mdc-button mdc-button--raised"  
      cdkFocusInitial 
      (click)="guardarCambios()">
      Guardar
    </button>
  </div>
</form>
