/* Search bar */

.example-form {
    /* min-width: 150px;
    max-width: 500px; */
    width: 90%;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-top: 20px;
    display: flex;
    align-items: center;
}

mat-form-field {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0px
}


/* results cards */

.example-card {
    max-width: 250px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.nuevoProducto{
    position: fixed;
    right: 4rem;
    top: 5.5rem;
    z-index: 2;
}

.navbar {
    padding:0; 
    padding-left:10px; 
    padding-right: 10px;
    padding-top: 5px; 
    top: 5px; 
    z-index: 1; 
    height: 3.5rem; 
    width: -webkit-fill-available; 
    justify-content: space-between;
    background-color: darkgray;
    opacity: 0.90;
    border-radius: 5px;
}
.navbar a {
    align-items: center;
}



 @media(max-width: 450px) {
    .nuevoProducto {
     bottom: 1.5rem;
     right: 1.5rem;
     top: auto
   }
  
  

   .navbar {
    height: auto!important;
    padding-bottom: 10px!important;
   }
 }

 @media (min-width: 1000px){
    .card-columns {
        column-count: 4;
    }
 }

 .itemChips {
    background-color: transparent;
    z-index: 1;
    position: sticky;
    top: 60px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
 }
 .mat-simple-snackbar-action {
    color: sandybrown!important;
}
