<div class="container">
    <nav 
    class="navbar sticky-top navbar-light bg-light d-flex " 
    >   
        <div class="row">
            <div class="col-sm-12">
                <a class="toggleButton" (click)="toggleSidebar()">
                        <mat-icon>list</mat-icon>
                </a>
            </div>
        </div>  
        <form 
        class="row align-items-center" 
        *ngIf="visibleFilter"
        [formGroup]="formQuery"
        [@animationFilter]="visible"
        style="display: flex; margin:0px; justify-content: right; justify-content: flex-end; align-content: center;"
        >
        
            <mat-form-field class="col-sm-3">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="categoria">
                <mat-option value="codigo"> Codigo </mat-option>
                <mat-option value="prenda"> Prenda </mat-option>
                <mat-option value="marca"> Marca </mat-option>
                <mat-option value="color"> Color </mat-option>
                <mat-option value="talle" > Talle </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field class="col-sm-6" >
                <mat-label>Busqueda</mat-label>
                <input type="text" matInput formControlName="valor" [matAutocomplete]="sugerencias">
            </mat-form-field>
            
            <mat-autocomplete #sugerencias="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete> -->

            <app-filtro 
            class="col-sm-6"
            [options]="strAutocomplete[formQuery.controls.categoria.value]"
            [tittle]="'Busqueda'"
            [type]="'text'"
            (selected)="formQuery.controls.valor.setValue($event)"
            (keyEnter)="agregarCategoria()">
            </app-filtro>

            
        </form>
        <a (click)="visibleFilter = !visibleFilter"
        style="margin-right: 15px; cursor: pointer; display: flex" 
        >
            <mat-icon  >filter_list</mat-icon>
            Filtrar
        </a>
    </nav>


    <!-- chips de cada categoria del filtro seleccionado -->
    <div class="itemChips">
        <mat-chip-list #chipList>
            <div *ngFor="let item of itemsChip; let i = index">
                <mat-chip 
                *ngIf="item[1]!==''" 
                (removed)="removerCategoria(item[0])" 
                [removable]="removable" 
                style="min-height: 25px; background-color: #a1887fc9; color: white; border-radius: 5px;">
                    {{item[1]|titlecase}}
                    <mat-icon matChipRemove >clear</mat-icon>
                </mat-chip>
            </div>
        </mat-chip-list>
    </div>


<!-- Boton flotante para crear nuevo producto -->
    <button class="mdc-fab nuevoProducto" (click)="nuevoProducto()">
        <i class="mdc-fab__icon material-icons">add</i>
    </button>


<!-- Spinner loading -->
    <div *ngIf="loading" class="d-flex justify-content-center" style="margin-top: 30%">
        <mat-spinner ></mat-spinner>
    </div>


<!-- Resultados de la busqueda o todos -->
    <div *ngIf="!loading" class="card-columns">
        <mat-card class="card" *ngFor="let prenda of prendasArray" style="margin-top: 10px; margin-bottom: 10px;" [@animationFilter]="visible">

            <img mat-card-image src="{{prenda['img']}}">
            <mat-card-content>
                <p style="font-size: 12px;">
                    {{prenda['nombre']|titlecase}} {{prenda['marca']|titlecase}} {{prenda['pVenta']|currency}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="mdc-button mdc-button--raised" (click)="openModal(prenda)">Ver mas</button>
                
            </mat-card-actions>
        </mat-card>
    </div>


<!-- Informe de resultado vacio -->
    <div *ngIf="!loading && prendasArray.length == 0 && !error" class="alert alert-secondary" role="alert" style="top:15px">
        No hay resultados para la busqueda
    </div>
<!-- Informe error de servicio http -->
    <div *ngIf="error && prendasArray.length == 0" class="alert alert-danger" role="alert">
        Error: {{errorMsj}}
      </div>
</div>