/* Search bar */

.example-form {
    /* min-width: 150px;
    max-width: 500px; */
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.example-full-width {
    width: 80%;
}

mat-form-field {
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
}


/* results cards */

.example-card {
    max-width: 250px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}