<div class="container">
    <div class="row" style="margin: 0px">
        <form class="example-form">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Buscar producto</mat-label>
                <input type="text" matInput placeholder="Ingrese detalles de la prenda" sty>
                <mat-icon matSuffix>search</mat-icon>

            </mat-form-field>



        </form>
    </div>
    <div class="row">
        <p>
            administrar-productos works!
        </p>
    </div>
</div>