.navbar {
    padding:0; 
    padding-left:10px; 
    padding-right: 10px;
    padding-top: 5px; 
    top: 5px; 
    z-index: 1; 
    height: 3.5rem; 
    width: -webkit-fill-available; 
    justify-content: space-between;
    background-color: darkgray;
    opacity: 0.90;
    border-radius: 5px;
}
.navbar a {
    align-items: center;
}
/* .navbar mat-icon {
    font-size: 30px;
    display: flex;
    height: auto;
    width: auto;
} */
/* .toggleButton {
    cursor: pointer;
    visibility: hidden;
    height: 24px; width: 24px;
 } */


 @media(max-width: 450px) {
    .nuevoProducto {
     bottom: 1.5rem;
     right: 1.5rem;
     top: auto
   }
   /* .toggleButton {
       visibility: visible;
   } */
  

   .navbar {
    height: auto!important;
    padding-bottom: 10px!important;
   }
 }
 th {
    color: rgba(0, 0, 0, 0.54)
 }
 table {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
 }
tr th:first-child, tr td:first-child {
    padding-left: 40px
}