<mat-progress-bar mode="indeterminate" *ngIf="loading" style="z-index: 3; top: 0px; position: fixed!important;"></mat-progress-bar>

<div class="container" style="padding-bottom: 15px; top: 5px">

    <nav 
    class="navbar sticky-top navbar-light bg-light d-flex ">   
      <app-toggle-sidebar></app-toggle-sidebar>
          
      <a style="margin-right: 15px; cursor: pointer; display: flex; font-size: 12px">
        <mat-icon  >notifications</mat-icon>
        Reportar fallo
      </a>
    </nav>
    <div class="d-flex justify-content-center mt-1">
        <mat-form-field class="col-6">
            <input matInput 
            placeholder="Buscar" 
            [formControl]="formBusqueda"
            (keyup.enter)="buscarPrenda()">
        </mat-form-field>
    </div>
    
<!-- Informe de resultado vacio -->
<div *ngIf="noResult" class="alert alert-secondary" role="alert" style="top:15px">
  No hay resultados para la busqueda
</div>
    
  <form [formGroup]="formVenta" >

    <div formArrayName="lineas" class="lineas">
        <table class="table mat-elevation-z8 mt-3">
            <thead>
              <tr>
                <th scope="col" >
                  <a (click)="borrarItems()"
                  style="cursor: pointer">
                    <mat-icon>delete</mat-icon>
                  </a>
                </th>
                <th scope="col">Codigo</th>
                <th scope="col">Detalle</th>
                <th scope="col">Talle</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Costo Unitario</th>
                <th scope="col">Subtotal</th>

              </tr>
            </thead>
            <tbody *ngIf="formVenta.controls.lineas.value.length == 0">
              <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>



              </tr>
            </tbody>
            <tbody *ngIf="formVenta.controls.lineas.value.length > 0">
              <tr *ngFor="let item of formVenta.controls.lineas['controls']; let i = index">
              
                <td>
                    <mat-checkbox 
                    (change)="checkbox.checked == true? 
                              agregarSeleccionado(formVenta.controls.lineas.value[i]) : 
                              quitarSeleccionado(formVenta.controls.lineas.value[i])" 
                    #checkbox></mat-checkbox>
                </td>
                <td>{{item.value.idProducto}}</td>
                <td>{{item.value.detalle}}</td>
                <td [formGroupName]="i">
                    <mat-select 
                    formControlName="talle"
                    #talle>
                        <mat-option>None</mat-option>
                        <mat-option 
                        *ngFor="let option of stock[i].disponibilidad"
                        value="{{option.talle}}">
                          {{option.talle | uppercase}}
                        </mat-option>

                    </mat-select>
                </td>
                <td [formGroupName]="i">
                  <input matInput 
                  type="number" 
                  formControlName="cantidad"
                  (change)="acumularTotal(item.value.costoU * item.value.cantidad)"
                  style="width: 50px;">
                </td>
                <td>{{item.value.costoU | currency}}</td>
                <td>{{item.value.cantidad * item.value.costoU | currency}}</td>
              </tr>
             
            </tbody>
          </table>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-end">
          <mat-form-field>
              <input matInput placeholder="Total" #total formControlName="montoNeto" readonly>
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
      </div>
    </div>

      <div class="row d-flex justify-content-center">
        <!-- <div class="col"> -->
          
          <div class="col-sm-1"></div>
          <mat-form-field class="col-sm-3">
            <mat-label>Medio de pago</mat-label>
            <mat-select formControlName="medioPago">
                <mat-option value="efectivo"> Efectivo </mat-option>
                <mat-option value="credito"> Credito </mat-option>
                <mat-option value="debito"> Debito </mat-option>

            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-sm-3">
              <input matInput 
              formControlName="intereses"
              (change)="calcularMonto()"
              placeholder="Interes de financiamiento (%)" 
              type="number"
              [readonly]="formVenta.controls.medioPago.value !== 'credito'">
          </mat-form-field>
            <mat-form-field class="col-sm-2">
                <input matInput 
                formControlName="nroCuotas"
                (change)="calcularMonto()"
                placeholder="Cuotas"
                type="number"
                [readonly]="formVenta.controls.medioPago.value !== 'credito'">

            </mat-form-field>
            <mat-form-field class="col-sm-2">
                <input matInput 
                formControlName = "valorCuota"
                placeholder="Valor de cada"
                type="number"
                readonly>
                <span matPrefix>$&nbsp;</span>
              </mat-form-field>
          <!-- </div> -->
          <div class="col-sm-1"></div>
              
       
      </div>

      <div class="row">
          <div class="col-12 d-flex justify-content-center">
              <button mat-raised-button 
              color="primary" 
              (click)="registrarVenta()"
              style="width: 170px">
              Abonar
             
            </button>
          </div>
      </div>
  </form>

</div>

    <!-- <div>
            <mat-table [dataSource]="dataTable" class="mat-elevation-z8 mt-1">
                    <ng-container matColumnDef="codigo">
                      <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.idProducto}} </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="detalle">
                      <mat-header-cell *matHeaderCellDef> Detalle </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.detalle}} </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="cantidad">
                      <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                        <input matInput type="number" value="{{element.cantidad}}">
                      </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="costo">
                      <mat-header-cell *matHeaderCellDef> Costo Unitario </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.costoU}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="subtotal">
                      <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.cantidad * element.costoU}} </mat-cell>
                    </ng-container>
                  
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>

    </div> -->