<div class="d-flex justify-content-center gradiente">
  <div class="align-self-center jumbotron container-login">
    <div class="d-flex justify-content-center" >
      
        <img src="assets/img/logo.jpg" class="img-logo" alt="logo" 
        style="position: fixed; margin-top: -100px;">
      
    </div>

    <div class="row">            
        <mat-form-field  class="col" >
          <input matInput placeholder="Usuario" [(ngModel)]="name">
        </mat-form-field>
    </div>
    <div class="row">            
        <mat-form-field  class="col" >
          <input matInput placeholder="Contraseña" [(ngModel)]="password">
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button mat-flat-button style="
      background-color: darkslategrey;
      color: white;
      width: 100%;" 
      (click)="iniciarSesion()">Ingresar</button>
    </div>
  </div>
</div>

