<div class=" p-2 bd-highlight nav" style="width: inherit; ">
    <nav class="navbar sticky-top navbar-light bg-light" style="width: inherit; justify-content: flex; padding-right: 15px;box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);">
        <h2 class="mdc-drawer__title ">ChipreStore</h2>
        <div class="align-content-right" style="display: flex">

            <button class="mdc-button mdc-button-primary mdc-button--raised align-content-end" style="border-radius: 20px; align-self: center;">Gerente 
                <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <a href="" class="align-content-end" style="display: flex;
            align-items: center;">
                <i class="material-icons" style="font-size: 40px">person</i>
                <!-- <i class="material-icons">keyboard_arrow_down</i> -->
            </a>
        </div>

    </nav>



</div>