.mdc-drawer__title {
    text-align: left;
    margin-left: 20px;
    display: flex;
    margin-bottom: 0px
}

a:hover {
    text-decoration: none;
}

.navbar{
    width: inherit; justify-content: flex; padding-right: 15px;box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2); z-index: 1; height: 65px;


}