<aside class="mdc-drawer mdc-drawer--open" 
style="
box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2); 
overflow: 
auto; display: flex!important;">
    <div class="mdc-drawer__header">

        <img src="assets/img/logo.jpg" class="img-logo" alt="logo">
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">

            <a class="mdc-list-item"
            *ngIf="rol == 'administrador'"
            tabindex="0" 
            routerLinkActive="mdc-list-item--activated">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>
                Resumen
            </a>

            <a 
            *ngIf="rol == 'administrador'"
            class="mdc-list-item" 
            tabindex="-1" 
            routerLinkActive="mdc-list-item--activated">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                Sucursales
            </a>

            <hr class="mdc-list-divider">

            <h6 class="mdc-list-group__subheader">Productos</h6>
            <a class="mdc-list-item" tabindex="-1" 
            [routerLink]="['/admin/product/sales']" 
            routerLinkActive="mdc-list-item--activated">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">shopping_cart</i> 
                Ventas
            </a>

            <a class="mdc-list-item" tabindex="-1" 
            [routerLink]="['/admin/product/manage']" 
            routerLinkActive="mdc-list-item--activated">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment</i> 
                Administrar
            </a>

            <a class="mdc-list-item" 
            tabindex="-1" 
            *ngIf="rol == 'administrador'" 
            href="https://chiprestore.com/admin/login">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_mall</i> 
                Tienda
            </a>

            <a class="mdc-list-item" 
            tabindex="-1" 
            *ngIf="rol == 'administrador'">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_shipping</i> 
                Movimientos
            </a>
            <hr class="mdc-list-divider">


            <a class="mdc-list-item" tabindex="-1" *ngIf="rol == 'administrador'">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">people</i> 
                Empleados
            </a>
            <hr class="mdc-list-divider">

            <mat-expansion-panel style="background-color:inherit; color:inherit">
                <mat-expansion-panel-header >
                        <mat-panel-title style="color:white; font-weight: 500;">
                                <!-- <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment_ind</i> -->
                                {{nombre|titlecase}}
                    </mat-panel-title>
                    
                </mat-expansion-panel-header>
                <mat-panel-description style="margin: 0px">
                    <div style=" display: list-item; color: black; width: 100%">
                        <!-- <a class="" style="justify-content: center">{{rol|titlecase}}</a> -->
                        <a class="mdc-list-item" style="justify-content: left; color: black!important; font-weight: 400;">
                            <!-- <mat-icon style="margin-right: 5px">edit</mat-icon> -->
                            Cambiar contraseña
                        </a>
                        <a 
                        (click)="cerrarSesion()"
                        class="mdc-list-item" 
                        style="justify-content: left; color: black!important; font-weight: 400;">
                            <mat-icon style="margin-right: 5px">exit_to_app</mat-icon>
                            Cerrar sesion
                        </a>             
                    </div> 
                </mat-panel-description>
            </mat-expansion-panel>

        </nav>
    </div>
</aside>