.mdc-drawer__header {
    height: 100px;
    text-align: center;
}

.mdc-list-item--activated,
.mdc-list-item--selected {
    background-color: black!important;
    color: white!important;
}

.mdc-list-item:hover {
    background-color: #fffaf052;
}

.mdc-list-item--activated .mdc-list-item__graphic {
    color: white!important;
}

.img-logo {
    width: 85px;
    margin-top: 10px;
    border-radius: 45px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.mdc-drawer {
    display: inline-block;
    /* box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2); */
}