<aside class="mdc-drawer mdc-drawer--open" 
style="box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2); 
height: -webkit-fill-available; overflow: auto; display: flex!important;">
    <div class="mdc-drawer__header">

        <img src="assets/img/logo.jpg" class="img-logo" alt="logo">
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item"
            *ngIf="rol == 'administrador'"
            tabindex="0" 
            [routerLink]="['/resume']" 
            routerLinkActive="mdc-list-item--activated">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>
                Resumen
            </a>
            <a 
            *ngIf="rol == 'administrador'"
            class="mdc-list-item" 
            tabindex="-1" 
            [routerLink]="['/marketplaces']" 
            routerLinkActive="mdc-list-item--activated">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                Sucursales
            </a>
            <hr class="mdc-list-divider">
            <h6 class="mdc-list-group__subheader">Productos</h6>
            <a class="mdc-list-item" tabindex="-1">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">shopping_cart</i> Ventas
            </a>
            <a class="mdc-list-item" tabindex="-1" [routerLink]="['/product/administrate']" routerLinkActive="mdc-list-item--activated">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment</i> 
                Administrar
            </a>

            <a class="mdc-list-item" tabindex="-1" *ngIf="rol == 'administrador'">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_shipping</i> 
                Movimientos
            </a>
            <hr class="mdc-list-divider">


            <a class="mdc-list-item" tabindex="-1" *ngIf="rol == 'administrador'">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">people</i> 
                Empleados
            </a>
            <hr class="mdc-list-divider">
            <!-- <a class="mdc-list-item" tabindex="-1">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">message</i> 
                Mensajes
            </a>

            <hr class="mdc-list-divider"> 
            <a class="mdc-list-item" tabindex="-1">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i> 
                Configuración
            </a>
            <a class="mdc-list-item" tabindex="-1">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">announcement</i> 
                Ayuda
            </a> 
             <a class="mdc-list-item">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment_ind</i>
                Usuario
            </a> -->
            <mat-expansion-panel style="background-color:inherit; color:inherit">
                    <mat-expansion-panel-header >
                      <mat-panel-title style="color:white">
                                    <!-- <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment_ind</i> -->
                                    {{nombre|titlecase}}
                      </mat-panel-title>
                      
                    </mat-expansion-panel-header>
                    <mat-panel-description>
                        <div style=" display: list-item; color: black; ">
                            <a >Cambiar contraseña</a>
                            <mat-divider></mat-divider>
                            <a >Cerrar sesion</a>             
                        </div> 
                    </mat-panel-description>
                  </mat-expansion-panel>

        </nav>
    </div>
</aside>